<div class="captcha-form">
    <form  method="POST" path={{path}}>
                     {{{captcha}}}
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Verify Captcha</button> 
    </form>
</div>
 

<script src = "./js/captcha.js"></script>