<!--Display favorites -->
<div class="col">
    <h3>Favorites: </h3>
</div>

{{#if favorites.length}}
<div class="col-mb-6 recipes-list">
    {{#each favorites as |favorite|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <img src={{favorite.recipe.image}} alt="image of recipe" width="200" height="200">
            <h4><a href={{favorite.recipe.URL}}>{{favorite.recipe.name}}</a></h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" id="delFav" data-id="{{recipe.id}}" >
                Delete
            </button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}


<script src="./js/favorite.js"></script>