<!--Display favorites -->

{{#if favorites.length}}
<div class="col-mb-6 favorites-list">
    <h3>Favorites: </h3>

    {{#each favorites as |favorite|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <img src={{favorite.image}} alt="image of recipe" width="200" height="200">
            <h4><a href={{favorite.URL}}>{{favorite.name}}</a></h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{favorite.id}}">
                Delete
            </button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}


<script src="./js/favorite.js"></script>