<!--Display recipes -->
<div>
    <h3>Recipes: </h3>
</div>

{{#if recipes.length}}
<div class="col-mb-6 recipes-list">
    {{#each recipes as |recipe|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <img src={{recipe.image}} alt="image of recipe" width="200" height="200"> 
            <h4><a href={{recipe.URL}}>{{recipe.name}}</a></h4> 
            
        </div>
    </div>
    {{/each}}
</div>
{{/if}}




<script src="./js/recipe.js"></script>