<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>

<div class="row">
    <div class = "col-md-6">
        <a href="/input"class="btn btn-primary"> Enter Ingredients</a>
        <br>
        <br>
         <a href="api/favorites"class="btn btn-primary"> Favorites </a>
    </div>
</div>