/* style.css */
header {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-style: italic;
} 

body {
  margin-top: 5%;
  padding: 0;
  font-family: Arial, sans-serif;  
  background-size: cover;
  background-position: center;
  background-image: url('../images/pxfuel.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  display: flex;  
  align-items: center;
  justify-content: center;
  scrollbar-color: rebeccapurple;
}

/* Shared styles for login and signup containers */
.login-form, .signup-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px; 
}

#welcome-form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px; 
  align-items:  center; 
  flex-direction: row;
}

#input-ingredients-form{
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%; 
  text-align: center;
  margin: 0;
  margin-top: 50px;  
  align-items: center;  
  flex-direction: row;
}

.error-page {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%; 
  text-align: center;
  margin: 0;
  margin-top: 50px;  
  align-items: center;  
}

#input-ingredients-form h2{ 
  text-align: center;  
}

.recipes-page, .history-page{
  margin-top: 10%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%; 
  text-align: center; 
  flex-direction: column;
}
 

#favorites-results{
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%; 
  text-align: center; 
  flex-direction: column;
}

#favorites-results button{ 
  margin-left: 10px; 
}

.login-form h1, .signup-form h1 {
    margin-bottom: 10px;
}

.login-form label, .signup-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input, .signup-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.login-form button, .signup-form button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #0056b3;
}

/* Footer styles */
.footer {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.top-bar {
  display: flex;   
} 
 
.recipes, .history h3 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
 

#topBtn, #clearBtn {
  margin: 20px;
  align-self: center;
}

#login {
  margin-top: 10%;
} 

#logout{
  background-color:#333;
  padding:0;
  text-decoration: none; 
}

#logout:hover{
  color: white;
  text-decoration: underline;
}

#loginBtn{
  color: white;
  text-decoration: none;
}
.navbar-nav{ 
  align-items: center; 
}

#loginBtn:hover{
  text-decoration: underline;
}
 
#favorites-results{
  margin-top: 10%;
}

#favorites-results h3{
  margin-top: 5%;
}